<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="marcar-servico.component.css" rel="stylesheet"/>
    <title>User Historico</title>
</head>
<body>
    <div class ="section">
        <div class="logoanimalmodal">
            <input type="file" class="imageinput" accept="image/jpeg, image/png, image/jpg">
            <div class="displaylogo"></div>
            <div class ="buttonsModal">
                <button class ="saveLogoChange">Guardar Alterações</button>
                <button class ="cancelLogoChange">Cancelar</button>
            </div>
        </div>
        <div class="top_navbar">
            <div class = "dropdown">
              
           
            </div>
            <div class ="topPerfil">
                <a>Nome User</a>
                <div class = "dropdown" style="float:right;">
                    <img src="assets/gajo.png" class="perfil">
                    <div class="dropdown-content">
                        <a routerLink="/geriranimais" onclick="NaoFazParteDaMinhaParte()">Editar Perfil</a>
                        <a routerLink="/pagamentos">Pagamentos</a>
                        <a routerLink="/encomendas">Encomendas</a>
                        <a routerLink="/ajuda">Ajuda</a>
                        <a routerLink="/geriranimais" onclick="NaoFazParteDaMinhaParte()">Sair</a>
                    </div>
                </div>
            </div>
        </div>

        <div class ="animalselected">
            <img src="assets/nikita.jpg" class="logolistanimal selected">
            <a class ="nameselected">Nikita</a>
        </div>

        <div class ="box">
            
            
            
        </div>
    </div>

    <div class="sidebar">
        <div>
            <a routerLink="../cliente">
                <img src="assets/logo.svg" class="logo">
            </a>
            <ul>
                <li>
                    <a routerLink="../cliente">
                        <span class="item">Início</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/geriranimais">
                        <span class="item">Gerir animais</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/geriranimais" onclick="NaoFazParteDaMinhaParte()">
                        <span class="item">Serviços</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tips-container">
          <div class="tip-container">
              <h2>Dica</h2>
              <p id="tip-text">{{tipText}}</p>
              <div>
                  <ul class="tip-buttons-container">
                  </ul>
              </div>
          </div>
      </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>